.show-modal {
    display: inline-block;
    background-color: #1e1e1e;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 40px;
    padding: 0px 30px;
    border-radius: 25px;
    transition: all 0.3s;
    border: none;
}

.show-modal:hover {
  background-color: #b49d7e;
  color: #fff;
}

.custom-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1050;
}

.custom-modal {
    background: #ffffff;
    padding: 25px;
    border-radius: 8px;
    width: 95%;
    max-width: 1200px;
    height: auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}


.custom-modal h2 {
    margin-top: 0;
}

.close-btn {
    background: red;
    color: white;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.save-btn {
    background: green;
    color: white;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}